.footer {
  background: #75405f;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.footer a {
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
}

.footer a:hover {
  text-decoration: underline;
}
